<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title FreeCell
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap&subset=cyrillic,cyrillic-ext,greek,latin-ext")
    link(rel="stylesheet", href="css/all.css")
  body
    .wrapper
      .topbar
        .topbar-logo
          img(src="images/king.png", alt="")
          span FREECELL
        .topbar-settings
          a(href="javascript:void(0)")
            img(src="images/btn-more.png", alt="")
          span Time:00:10
          a(href="javascript:void(0)")
            img(src="images/btn-return.png", alt="")
        .topbar-score
          img(src="images/icon-bone.png", alt="")
          span Score:00
      .play-area
        .play-area-top
          .play-area-temp
            .card-wrap
            .card-wrap
            .card-wrap
            .card-wrap
          .play-area-done
            .card-wrap
            .card-wrap
            .card-wrap
            .card-wrap
      .bg
        .bg-images
          img(src="images/bg-left.png", alt="")
        .bg-images
          span quickly
          img(src="images/bg-jqk.png", alt="")
        .bg-images
          img(src="images/bg-right.png", alt="")

